<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".app.NextActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.activity.VisitsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.activity.ActionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.activity.StartDayActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.activity.CreditMaterialSelectionActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".app.activity.CashMaterialSelectionActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".app.activity.MaterialSelectionActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".app.activity.BatchScanActivity"
            android:configChanges="orientation|screenSize|locale" />
        <activity
            android:name=".app.WelcomeActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainBusinessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".app.SimpleActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>